<section>
  <div style="margin-left:20px;min-height:1000px;border-right:1px solid #ddd" class="col-md-2">
    <h3>当前用户列表</h3>
    <ul class="heroes">
      <li *ngFor="let item of userlist  let i = index;" [class.active]="i==0" [class.selected]="item === selectednamespace" (click)="getuserInfo(item,i)">
        <span class="badge">{{i+1}}</span> {{item.user}}
        <!-- <a style="float:right;background:red" class="badge" (click)="goUserList(item)">用户列表</a> -->
      </li>
    </ul>
    <div>
    </div>
  </div>
  <div style="margin-left:20px;min-height:1000px;border-right:1px solid #ddd" class="col-md-6">
    <div>
      <h3>当前用户所有信息概览</h3>
      <div *ngFor="let item of userInfo  let i = index;" class="info">
        <div>
          <h4 class="pInfo" (click)="goPublisInfo(item)">发布者信息</h4>

          <span>国家: {{item.country}}</span><br/>
          <span>省份: {{item.province}}</span><br/>
          <span>城市:{{item.city}}</span><br/>
          <span>城镇: {{item.town}}</span><br/>
          <span>媒体类型:{{item.mediaType}}</span> <br/>
          <span>服务地址:{{item.server_addr}}</span><br/>
        </div>
        <div *ngFor="let play of item.plays" class="playInfo">
          <h4 class="pInfo" (click)="goplaysInfo(play)">播放者信息</h4>
          <span>国家: {{play.country}}</span><br/>
          <span>省份: {{play.province}}</span><br/>
          <span>城市:{{play.city}}</span><br/>
          <span>城镇: {{play.town}}</span><br/>
          <span>媒体类型:{{play.mediaType}}</span> <br/>
          <span>服务地址:{{play.server_addr}}</span><br/>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-left:20px;min-height:1000px;border-right:1px solid #ddd" class="col-md-3">
    <div *ngIf="isshow">
      <h3>{{title}}</h3>
      <div>
        <span>服务器端口: {{publishInfo.serverport}}</span><br/>
        <span>流id: {{publishInfo.stream}}</span><br/>
        <span>服务器名称: {{publishInfo.host_name}}</span><br/>
        <span>发布服务器id: {{publishInfo.serverip}}</span><br/>
        <span>版本: {{publishInfo.version}}</span><br/>
        <span>客户端地址: {{publishInfo.addr}}</span><br/>

        <span>日志生成时间: {{publishInfo.logtime}}</span><br/>
        <span>入库时间: {{publishInfo.createtime}}</span><br/>
        <span>状态: {{publishInfo.status}}</span><br/>
        <span>总带宽: {{publishInfo.total}}</span><br/>
        <span>当前带宽: {{publishInfo.current}}</span><br/>
        <span>客户端类型: {{publishInfo.clientType}}</span><br/>
        <span>内存: {{publishInfo.mem}}</span><br/>
        <span>最大包序号: {{publishInfo.extended_max}}</span><br/>
        <span>机构名: {{publishInfo.group}}</span><br/>
        <span>视频高度: {{publishInfo.height}}</span><br/>
        <span>系统: {{publishInfo.os}}</span><br/>
        <span>视频帧率: {{publishInfo.fps}}</span><br/>
        <span>cpu信息: {{publishInfo.cpu}}</span><br/>

        <span>流类型: {{publishInfo.mediaType}}</span><br/>
        <span>房间号: {{publishInfo.room}}</span><br/>
        <span>延迟时间: {{publishInfo.rtt_ms}}/ms</span><br/>
        <span>当前丢包率: {{publishInfo.fractionlost}}</span><br/>
        <span>缓存区大小: {{publishInfo.jitter}}</span><br/>
        <span>总丢包率: {{publishInfo.cumulative_lost}}</span><br/>

        <span>cpu使用情况: {{publishInfo.cpu_use}}%</span><br/>
        <span>视频宽度: {{publishInfo.width}}</span><br/>
        <span>用户id: {{publishInfo.user}}</span><br/>
        <span>国家: {{publishInfo.country}}</span><br/>
        <span>省份: {{publishInfo.province}}</span><br/>
        <span>市区: {{publishInfo.city}}</span><br/>

        <span>乡镇: {{publishInfo.town}}</span><br/>
        <span>用户网络类型: {{publishInfo.net_type}}</span><br/>
        <span>服务器地址: {{publishInfo.server_addr}}</span><br/>
        <span>服务器网络类型: {{publishInfo.server_type}}</span><br/>
        <!-- <button type="button" class="btn btn-info" (click)="getUserInfo(publishInfo.user)">当前用户所有流信息概况</button> -->
      </div>
    </div>
  </div>
</section>
