.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.heroes .text {
  position: relative;
  top: -3px;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 0.4em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.7em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.active {
  background: red;
}

.info {
  height: 200px;
  overflow-y: scroll;
  float: left;
  width: 200px;
  background-color: #EEEEEE;
  margin-bottom: 1em;
  margin-left: 1em;
  padding: 0.5em;
  border-radius: 0.4em;
}

.info1 {
  height: 200px;
  overflow-y: scroll;
  float: left;
  width: 95%;
  background-color: #EEEEEE;
  margin-bottom: 1em;
  margin-left: 1em;
  padding: 0.5em;
  border-radius: 0.4em;
}

span {
  color: #999;
}

.pInfo {
  cursor: pointer;
}

.playInfo {
  boreder-top: 1px solid #eee;
}


/* section {
  /*background-color: #072C84;*/


/* background: url(assets/background/backgroundImg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;

background: url('../../assets/background/backgroundImg.png') no-repeat;

}
.roomInfo li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #fff;
  margin-bottom: 15px;
  font-size: 15px;
}
.roomInfo li:nth-child(2) {
  font-size: 28px;
}
.roomInfo li:nth-child(4) {
  font-size: 50px;
}
.roomInfo {
  padding: 0;
  margin: 0;
  margin: 0 auto;
  text-align: center;
}
.map {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1100px;
  height: 650px;
  margin-left: -550px;
  margin-top: -325px;
}
nav {
  padding-top: 10px;
}
nav>h4 {
  color: #fff;
}
.contentheight {
  height: 320px;
}
nav>h6 {
  color: #D9BE19;
}
.panel-heading {
  border-bottom: 1px solid #3D4D8C;
  text-align: center;
  color: #fff;
}
.panel-default {
  border: 1px solid #3D4D8C;
}
.back_heading {
  background-color: rgba(0, 0, 0, 0.15);
}
.back {
  height: 280px;
  background-color: rgba(0, 0, 0, 0.15);
}
.midal {
  text-align: center;
}
.leftFloat {
  left: float;
}
.rightFloat {
  right: float;
}
*/
