<div>
</div>
<div style="width:380px;margin:200px auto;">
  <div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
      <h3 style="margin-bottom:50px">布卡日志分析服务</h3>
      <div class="form-group">
        <input type="text" id="username" [(ngModel)]="loginobj.user_name" class="form-control" placeholder="用户名" required="">
      </div>
      <div class="form-group">
        <input type="password" id="password" [(ngModel)]="loginobj.user_password" class="form-control" placeholder="密码" required="">
      </div>

      <button type="button" style="width:380px;margin-bottom:30px" (keyup.enter)="loging()" (click)="loging()" id="logining" class="btn btn-primary block full-width m-b">登 录</button>
      <p style="text-align:right" class="text-muted text-center"> <a routerLink="/register"><small>注册</small></a>
      </p>
    </div>
  </div>
</div>
